/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

[class*="col-"] {
    border: 1px solid white;
}

.bold_text {
    font-weight: bold;
    color: black;
}

.blu {
    background-color: #006cfa;
    color: white;  
    text-align: center;
    line-height: 100%;
}