/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.bold_text {
    font-weight: bold;
    color: black;
}

.blu {
    background-color: #006cfa;
    color: white;  
    text-align: center;
    padding: 0.5% 1%;
    border: 1px solid white;
}

span {
    padding: 1% 1%;
}

.green {
    background-color: #00e265;
    color: white;
    text-align: center;
    padding: 2% 1%;
    border: 1px solid #006cfa;
}

.flex {
    display: flex;
}

.empty {
    padding-top: 2%;
}